:root {
  --board-size: 500px;
}

html {
  background-color: darkslategray;
}

header {
  height: 5rem;
}

.game-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#board-wrapper > div {
  width: var(--board-size);
  height: var(--board-size);
  margin: auto;
}

.allied-waters {
  background-color: aliceblue;
}
.enemy-waters {
  background-color: lightcoral;
}

.grid-row {
  height: 10%;
  width: 100%;
  display: flex;
}

.grid-square {
  height: 100%;
  width: 10%;
}

#controls-wrapper {
  width: var(--board-size);
}

#placement-controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#orientation-btn {
  height: calc(var(--board-size) / 10);
  width: calc(var(--board-size) * 3 / 10);
  background-color: antiquewhite;
  margin: 10px auto auto auto;
}

.place-ship-control {
  height: calc(var(--board-size) / 10);

  background-color: bisque;
  margin: 0 0 0 10px;
}

#place-carrier {
  width: calc(var(--board-size) / 2);
}

#place-battleship {
  width: calc(var(--board-size) * 4 / 10);
}

#place-destroyer {
  width: calc(var(--board-size) * 3 / 10);
}

#place-submarine {
  width: calc(var(--board-size) * 3 / 10);
}

#place-patrolboat {
  width: calc(var(--board-size) / 5);
}

.valid-placement {
  background-color: greenyellow;
}

.invalid-placement {
  background-color: red;
}
