@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Space+Mono&display=swap");

:root {
  --max-board-size: 500px;
  --board-size: 500px;
  --header-text-size: 5rem;
  --header-height: 5rem;
  --controls-wrapper-margin: 1rem auto 1rem auto;
  --controls-wrapper-height-factor: calc(var(--board-size) * 3 / 10);
  --message-center-top-margin: 1rem;
  --player-board-color: antiquewhite;
  --reset-btn-height: 2.5rem;
}

body {
  width: 100%;
  position: fixed;
}

html {
  background-color: darkslategray;
  width: 100%;
}

header {
  height: var(--header-height);
  text-align: center;
  font-family: "Patua One";
  font-size: var(--header-text-size);
}

.game-wrapper {
  height: calc(100% - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#board-wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#board-wrapper > div {
  width: var(--board-size);
  height: var(--board-size);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1px;
  position: relative;
  flex-shrink: 0;
}

.board-shift-transition {
  transition: transform 1.5s ease-in-out;
}

.board-shift {
  transform: translate(0, calc(-1 * (var(--board-size) + 9px)));
}

.allied-waters .grid-square {
  background-color: var(--player-board-color);
}
.enemy-waters .grid-square {
  background-color: lightcoral;
}

.grid-row {
  height: 10%;
  width: 100%;
  display: flex;
  gap: 1px;
}

.grid-square {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#controls-wrapper {
  width: var(--board-size);
  height: var(--controls-wrapper-height-factor);
  margin: var(--controls-wrapper-margin);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#message-center {
  width: var(--board-size);
  height: var(--controls-wrapper-height);
  display: flex;
  gap: 5px;
  margin-top: var(--message-center-top-margin);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Space Mono";
}

#message-center > div {
  height: calc(var(--board-size) * 0.75 / 10);
}

#message-two {
  transition: opacity 0.5s linear;
  text-align: center;
}

#placement-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  transition: opacity 0.25s linear;
}

.opacity-zero {
  opacity: 0;
}

#orientation-btn {
  height: calc(var(--board-size) / 10);
  width: calc(var(--board-size) * 3 / 10);
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  font-family: "Space Mono";
  text-align: center;
  font-size: 0.9rem;

  border-radius: 0.25rem;
  box-shadow: 5px 5px 25px 3px rgb(49, 49, 49);
}

.place-ship-control {
  height: calc(var(--board-size) / 10);

  background-color: bisque;
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Space Mono";
  text-align: center;
  font-size: 0.9rem;

  border-radius: 0.25rem;
  box-shadow: 5px 5px 25px 3px rgb(49, 49, 49);
}

#place-carrier {
  width: calc(var(--board-size) / 2);
}

#place-battleship {
  width: calc(var(--board-size) * 4 / 10);
}

#place-destroyer {
  width: calc(var(--board-size) * 3 / 10);
}

#place-submarine {
  width: calc(var(--board-size) * 3 / 10);
}

#place-patrolboat {
  width: calc(var(--board-size) / 5);
}

#reset-btn {
  margin: auto;
  cursor: pointer;
  height: var(--reset-btn-height);
  width: 7rem;
  background-color: var(--player-board-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  box-shadow: 5px 5px 25px 3px rgb(49, 49, 49);
}

.hit::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: red;
}

.miss::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: 1px 1px 10px rgb(49, 49, 49);
}

.enemy-waters .grid-square:not(.hit):not(.miss):hover {
  filter: brightness(0.75);
  cursor: pointer;
}

.grid-square.valid-placement {
  background-color: green;
}

.grid-square.invalid-placement {
  background-color: red;
}

.grid-square.occupied {
  background-color: brown;
}

.exploded {
  filter: invert();
}

#placement-controls.display-disabled,
#reset-btn.display-disabled,
.display-disabled {
  display: none;
}

.place-button-enabled {
  background-color: green;
}

.btn-disabled {
  opacity: 60%;
}

@media only screen and (max-width: 500px) {
  :root {
    --board-size: 95vw;
    --header-text-size: 3rem;
    --header-height: 3rem;
    --controls-wrapper-margin: 0.25rem auto 0.5rem auto;
    --controls-wrapper-height-factor: calc(var(--board-size) * 4 / 10);
    --message-center-top-margin: 0.25rem;
    --reset-btn-height: 1.75rem;
  }

  .board-shift-mobile {
    transform: translate(0, calc(-1 * (var(--board-size) + 9px)));
  }

  .board-wrapper-mobile-sizing {
    height: calc(var(--board-size) + 9px);
  }
}
